.Links{
    text-decoration: none;
    color:white;
}

.container{
    background-color:#F5FAFF;
    border-radius: 2px;
    border-color: #3996D4;
}

.input{
    border-color: #3996D4;
}

.input:focus-visible{
    border-color:#54D9C7;
    color:#54D9C7;
}


